[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
krpc = "*"
glom = "*"
dash = "*"
dash-core-components = "*"
dash-html-components = "*"
dash-renderer = "*"
flask = "*"

[dev-packages]
csvs-to-sqlite = "*"

[requires]
python_version = "3.6"
